<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Overview</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8"></meta>
<!-- Bootstrap -->
<link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" media="screen"></link>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body >
	<div class="container">
	<div th:replace="headerTemplate :: header">&nbsp;</div>
		<nav class="navbar navbar-inverse nav--style">
		  <div class="container-fluid">
		       <ul class="nav navbar-nav">
			      	<li><a href="/overview">Overview</a></li>
			    </ul>
		  </div>
		</nav>
		<div class="row body">
		<div class="col-xs-12">
		
		
			<div>
			<div class="col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Coming Soon</div>
					<table class="table table-hover table-inverse tbl">
						<tr><td>Expand the application to identify more technologies (right now few technologies being identified e.g. JMS, JSF, spring, Hyper net, Struts etc)
						</td></tr>
						<tr><td>Including class level R factor details</td></tr>
						<tr><td>List unused components (JARS).</td></tr>
						<tr><td>Expand the solutions to .NET Applications</td></tr>
						<tr><td>Include other formats for Reports</td></tr>
					</table>
				</div>
			</div>
		</div>
		
		</div>
			
		</div>
		<div th:replace="footerTemplate :: footer">&nbsp;</div>
	</div>
</body>
</html>