<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Jar Dependency</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8"></meta>
<!-- Bootstrap -->
<link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" media="screen"></link>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body >
	<div class="container">
		<div th:replace="headerTemplate :: header">&nbsp;</div>
		<nav class="navbar navbar-inverse nav--style">
		  <div class="container-fluid">
		       <ul class="nav navbar-nav">
			      	<li><a href="/overview">Overview</a></li>
					<li><a href="/getRFactor">R Factor Details</a></li>
					<li class="active"><a href="/depJars">Jar Dependency</a></li>
					<li><a href="/depClasses">Class Dependency</a></li>
					<li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Report
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <!-- <li><a href="#">Pdf</a></li> -->
				          <li><a href="/wordReport">Word</a></li>
				          <li><a href="/excelReport">Excel</a></li>
				        </ul>
				      </li>
			    </ul>
		  </div>
		</nav>
		<div class="row body">
			<div>
			<div class="col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Dependent Jars</div>
					<table class="table table-hover table-inverse tbl">
						<tr>
							<th>Jar Name</th>
							<th>Version</th>
						</tr>
						<tr th:each="depJar : ${depJars}">
							<td class="tbl--td" th:text="${depJar.jar_name}"></td>
							<td class="tbl--td" th:text="${depJar.version}"></td>
						</tr>
					</table>
				</div>
			</div>	
		</div>
		</div>
		<div th:replace="footerTemplate :: footer">&nbsp;</div>
	</div>
	
</body>

</html>