<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>R Factoring</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8"></meta>
<!-- Bootstrap -->
<link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" media="screen"></link>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<script>
	function enableLoader() {
		document.getElementById('ldr').setAttribute("style", "display:block;");
	}
</script>
</head>
<body >
	<div class="container">
	<div th:replace="headerTemplate :: header">&nbsp;</div>
		<div class="row body home-top_padding">
		<div id="1" class="col-xs-12">
		<form method="POST" enctype="multipart/form-data" action="/">
		<div class="row center_align">
		<div class="col-xs-12">
		<span>
			Upload the application file (.jar/.war/.ear) : 
			</span>
			<span>
			<label class="btn btn-default btn-file">
											Browse <input name="appname" type="file"
											style="display: none;" accept=".jar,.war,.ear"></input>
									</label>
			</span>
		</div>
			
		</div>
		<div class="row center_align line_padding">
		<div class="col-xs-12">
		
			<span>
			<input type="submit" class="bttn bttn--primary" value="Upload"></input>
			
			</span>
		</div>
			
		</div>
		</form>
		</div>
			<div id="2" class="row ">
				<div class="col-xs-12">
					<div th:if="${not #strings.isEmpty(warningmessage)}">
						<h6 class="center_align top__padding" th:text="${warningmessage}"></h6>
					</div>
						
					<div th:if="${not #strings.isEmpty(message)}">
						<h6 class="center_align top__padding" th:text="${message}"></h6>
						<form method="post" action="/process">
						<div class="row center_align home-top_padding">
							<div class="col-xs-12">
								<span>
								Base package to be parsed:
								</span>
								<span>
								<input placeholder="Optional" type="text" name="packagename"></input>
								</span>
								<span>(Eg."com.lmig", "com.safeco")</span>
							</div>
						</div>
						<div class="row center_align top_padding">
							<div class="col-xs-12 ">
								<button class="bttn bttn--primary" type="submit" onclick="enableLoader()">
										Get Started</button>
							</div>
							
						</div>
							
						</form>
					</div>
					
				</div>
			</div>
			
			<div id="ldr" style="display:none;" class="row loader--alignment top_padding">
				<div class="col-xs-12">
					<div class="loader"></div>
				</div>
			</div>
		</div>
		<div th:replace="footerTemplate :: footer">&nbsp;</div>
	</div>
	
</body>
</html>