<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>R Factoring</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8"></meta>
<!-- Bootstrap -->
<link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" media="screen"></link>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body >
	<div class="container">
		<div class="row header">
			<div class="col-xs-12">
				<h1>
					R Factor Finder<span class="caption">you are in the right place for help!</span>
				</h1>
			</div>
		</div>
		<div class="row body">
		<div class="col-xs-12">
		<form method="POST" enctype="multipart/form-data" action="/">
		<div class="row center_align">
		<div class="col-xs-12">
		<span>
			Upload the application file (.jar/.war/.ear) : 
			</span>
			<span>
			<label class="btn btn-default btn-file">
											Browse <input name="appname" type="file"
											style="display: none;" accept=".jar,.war,.ear"></input>
									</label>
			</span>
		</div>
			
		</div>
		<div class="row center_align line_padding">
		<div class="col-xs-12">
		
			<span>
			<input type="submit" class="bttn bttn--primary" value="Upload"></input>
			
			</span>
		</div>
			
		</div>
		</form>
		</div>
			<div class="row">
				<div class="col-xs-12">
					<div th:if="${warningmessage}">
						<h6 class="alert alert-warning" th:text="${warningmessage}"></h6>
					</div>
						
					<div th:if="${message}">
						<h6 class="alert alert-success" th:text="${message}"></h6>
						<form method="post" action="/overview">
							<table class="table table-striped">
								
								<tr>
									<td>Please enter the package you looking to parse:</td>									
									<td><input type="text" name="packagename"></input></td>
								</tr>
								<tr>
									<td></td>
									<td><button class="btn btn-primary btn-md" type="submit">Let's
											Get Started</button></td>
								</tr>
							</table>
						</form>
					</div>
					
				</div>
			</div>
		</div>
		<div class="row footer">
			<h5> &copy; Cognizant Hackathon 2016</h5>
		</div>
	</div>
</body>
</html>