<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Overview</title>
<meta name="viewport" content="width=device-width, initial-scale=0.8"></meta>
<!-- Bootstrap -->
<link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" media="screen"></link>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
	function goToHome() {
		var conf = confirm("Once you navigate to home you cannot come back to this place! Want to Proceed any way?")
		if (conf == true) {
			location.href = "getstarted.html";
		}	
	}
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="well well-sm">
			<h1>
				Overview <small> Application: <span th:text="${appname}"></span></small>
			</h1>			
		</div>
		<div>
			<ul class="nav nav-pills">
				<li class="active"><a href="/overview">Overview</a></li>
				<li><a href="/getRFactor">R Factor Details</a></li>
				<li><a href="/depJars">Jar Dependency</a></li>
				<li><a href="/depClasses">Class Dependency</a></li>
			</ul>
			<hr />
		</div>
		<br />
		<div>
			<div class="col-sm-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Overview</div>
					<table class="table table-striped table-bordered table-condensed table-responsive">
						<tr>
							<th>Item</th>
							<th>Details</th>
						</tr>
						<tr th:each="overviewItem : ${overviewItems}">
							<td align="justify">Technology</td>
							<td th:utext="${overviewItem.technology}"></td>
							<!--  td>Database</td>
							<td th:text="${overviewItem.db}"></td>
							<td>Persistance</td>
							<td th:text="${overviewItem.persistance_API}"></td>
							<td>User Interface</td>
							<td th:text="${overviewItem.user_Interface}"></td>
							<td>Server</td>
							<td th:text="${overviewItem.server}"></td-->
						</tr>
					</table>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-warning" onclick="goToHome()">Start Over!</button>
	</div>
</body>
</html>